body{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

#game-over{
    align-self: center;
}

.game-board{
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    height: 425px;
    width: 425px;
    background-color: #A19882;
    border-radius: 1%;
    border-color: #A19882;
}

.tile-container{
    width: 100px;
    height: 100px;
    border-style: solid;
    text-align: center;
    border-color: #A19882;
    background-color: #9A9483;
    border-radius: 10%;
}

.tile{
    color: #696464;
    margin-top: 33px;
    border-radius: 1%;
    font-size: 30px;
}